body {
  background-color: hsl(61, 95%, 48%);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #da2525;
  line-height: 1.5;
}

header {
  background-color: #16dd16;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-bottom: 2rem;
}

.quote-container {
  background-color: #f1eaea;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(12, 235, 12, 0.856);
  padding: 2rem;
  margin-bottom: 2rem;
}

.quote-text {
  font-style: italic;
  margin-bottom: 1rem;
}

.quote-author {
  text-align: right;
  font-size: 1.2rem;
}

button {
  background-color: #fa3f06;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 1rem;
}


a {
  background-color: #1da1f2;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
